DATABASE_URL=postgres://social:social_password@postgres:5432/social_api
READ_DATABASE_URL=postgres://social_read_replica:social_password@postgres:5432/social_api
REDIS_URL=redis://redis:6379
HTTP_PORT=8080

# Content APIs
CONTENT_API_POST_URL=http://mock-post-api:8081
CONTENT_API_BONUS_HUNTER_URL=http://mock-bonus-hunter-api:8082
CONTENT_API_TOP_PICKS_URL=http://mock-top-picks-api:8083
# Profile API
PROFILE_API_URL=http://mock-profile-api:8084
