DATABASE_URL=postgres://social:social_password@postgres:5432/social_api
READ_DATABASE_URL=postgres://social_read_replica:social_password@postgres:5432/social_api
REDIS_URL=redis://redis:6379
HTTP_PORT=8080

# Content APIs
CONTENT_API_URL=http://mock-content-api:8081
# Profile API
PROFILE_API_URL=http://mock-profile-api:8084
